/build
.gradle/
.idea/
.svn/
Inspector.iml
api/api.iml
api/build/
api/target/
app/.externalNativeBuild/
app/app.iml
app/build/
app/debug.keystore
app/lint.xml
app/src/main/assets/armeabi-v7a/
app/src/main/assets/armeabi/
app/src/main/assets/x86/
import-summary.txt
local.properties
